<article class="docs-article">
    <section class="docs-header">
        <h1 class="docs-heading">Start Translation</h1>
    </section>
    <section class="docs-intro">
        <p>When you think about translating your content, you may think about the page “title” and “body”. However, fully translated content requires more attention. In this document, we explain what you need to know to starting translate your content in your sites. </p>
    </section>
    <section class="docs-section">
        <h2 class="section-heading">Files Structure</h2>
        <p class="section-intro">setup files to translation</p>
        <section class="docs-overview">
            the language directory in <code>(./local/languages/)</code>.
            in this directory you must create one directory each language in your website.
           <code>you can change language directory from configuration.</code>
        </section>
    </section>
</article>

<article class="docs-article">
    <section class="docs-header">
        <h1 class="docs-heading">Initialization</h1>
    </section>
    <section class="docs-intro">
        <p>Beginning Translate<br>
        <i class="fas fa-flask"></i>  in my case i want to create website with 2 languages (English, Arabic).</p>
    </section>
    <section class="docs-section">
        {% include V2/partials/parts/begin-translate.html %}
    </section>
</article>

<article class="docs-article">
    <section class="docs-header">
        <h1 class="docs-heading">Get Translation</h1>
    </section>
    <section class="docs-intro">
        <p>get correct translation as selected language<br>
            last thing we need to get translation as language visitor selected.</p>
    </section>
    <section class="docs-section">
        <p class="docs-overview">you have 3 ways to get translation.</p>
        <div class="docs-code-block">
            <code class="mb-2">echo logaty('translation-file.translation-key')</code><br>
            <code class="mb-2">echo logaty()->_x('translation-file.translation-key')</code><br>
            <code class="mb-2">logaty()->__('translation-file.translation-key')</code><br>
        </div>
    </section>
    <section class="docs-section">
        {% capture trans %} {% include V2/code/trans.md %} {% endcapture %}
        {{ trans | markdownify }}
    </section>
</article>
