<!DOCTYPE html>
<html lang="en">
<body> 
{% if page.url contains '/v2/' %}
    {% include V2/head.html %}
    {% include V2/header_with_search.html %}
    <div class="docs-content">
        <div class="container">
            {{ content }}
        </div>
    </div>

    {% V2/include footer.html %}
{% else %}
    {% include head.html %}
    {% include header_with_search.html %}
    <div class="docs-content">
        <div class="container">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
{% endif %}
</body>
</html>
